

#sidebar {
position: fixed;
color: #ffffff;
background-color: rgba(0, .5, .5, 0.8);
color: rgba(0, 1, 1, 0.8);
}

#sidebar a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
color: blue;
text-decoration: none;
}

#sidebar a:hover {
color: grey;
} 