#sidebar {
width: 80%;
background: rgba(1, 1, 1, .2);
}
#sidebar a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;

color: blue;
text-decoration: none;

}

#sidebar a:hover {
color: grey;
} 

#p1 {
text-align: justify;
}

#video {
 padding-top: 15px;
 }
 
#gomaLogo {
padding-top: 30px;
}

#mainButtons {
display: inline-block;
}